.reason-component {
    background-color: #e3e7e6;
    padding-bottom: 5%;
}



.reason-title {
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;
    background-color: #e3e7e6;
    color: var(--bs-heading-color);
}



.card-img-top {
    width: 100%;
    height: 100%;
}

.card-container {
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e3e7e6;

}


#card-item {
    border: none;
    border: 10px solid white;
}

.card-reason {
    z-index: 1;
}