.img-organized {
    position: relative;
}

.text-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
    align-items: center;
}
.text-2{
    text-align: center;
    position: absolute;
    top: 15%;
    left: 79%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-3{
    text-align: center; 
    position: absolute;
    top: 35%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-4{
    text-align: center; 
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-5{
    text-align: center; 
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-6{
    text-align: center; 
    position: absolute;
    top: 58%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-7{
    text-align: center; 
    position: absolute;
    top: 58%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-8{
    text-align: center; 
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-9{
    text-align: center; 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.text-10{
    text-align: center; 
    position: absolute;
    top: 80%;
    left: 78%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: 700;
}

@media screen and (max-width: 1199px) {
    .text {
        font-size: 30px;
        font-weight: 700;
    }
}