* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #e3e7e6; */
}


:root{
    --main-background-color: #7B61FF;
    --dashboard-background-color:#e3e7e6;
    --main-color: #341C69;
}