
.createlist-module{
    background-color: #e3e7e6;
    width: 100%;
    height: 100%;
  }

  .createlist-container{
    margin-top: 90px;
    position: absolute;
    margin-left: 250px;
  }

  .list-title{
    margin-top: -50px;
  }

  .tab-container{
    margin-top: 50px;
  }

  .list-creation{
   border: 2px solid var(--main-color); 
   border-radius: 5px;
   width: 70%; /* Set width as needed */
   padding: 10px; /* Adjust padding */
   font-size: 16px; /* Adjust font size */
   /* border: 1px solid #ccc;  */
   /* border-radius: 5px; */

  }

  
.list-head{
  color: var(--main-color);
}


.list-name{
  border: 5px solid var(--main-color);
  padding: 9px;
  margin-top: 10px;
  border-radius: 20px;
}
  

.task-add{
  background-color: var(--main-background-color);
  padding: 6px;
  width: 15%;
  border-radius: 10px;
  color: white;
}

.listed-items{
  margin-top: 10px;
  margin-left: -10%;
}


.task-creation{
  border: 3px solid var(--main-color);
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
}


.items{
  margin-top: 30px;
}


.task-input{
  border: 2px solid var(--main-color);
  padding: 5px;
  border-radius: 5px;
  padding-right: 4px;
}
.list-div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  margin-top: 50px;
}


.create{
  margin-left: 15px;
  border: 2px solid var(--main-color);
  padding: 5px;
  border-radius: 10px;
  /* transition: 0.3s; */
  box-shadow: 0 9px var(--main-background-color);
}

.create:hover{
  /* scale: 1.1; */
}

.create:active{
  /* background-color: w; */
  box-shadow: 0 5px var(--main-color);
  /* color: white; */
  transform: translateY(4px);
}

