
.createlist-module{
    background-color: #e3e7e6;
    width: 100%;
    height: 100%;
  }

  .createlist-container{
    margin-top: 90px;
    position: absolute;
    margin-left: 250px;
  }

  .list-title{
    margin-top: -50px;
  }

  .btn-add{
    border: 2px solid  var(--main-background-color);
    padding: 6px;
    font-size: 80%;
    background-color: var(--main-background-color);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
  }

  .lists-container {
    width: 100%;
    /* margin-left: 3px; */
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }

  .list-heading{
    background-color: greenyellow;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 2px;
    text-align: center;
   

  }

  .icon-div {
    display: flex;
padding-top: 10px;
    gap: 10px;
    margin-right: 5px; 
  }

  .list-card{
    width: 300px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 
  }


  .radio-btn{
    justify-content: center;
  }
  
  .list-line{
    border-bottom: 2px solid var(--main-background-color);
    padding: 5px;
    width: 100%;
    margin-top: 140px;
    position: absolute;
    opacity: 0.2;
  }