.option-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-list{
    width: 40%;
    height: 150px;
    margin-left: 30%;
    transition: 0.3s;
}

.card-list:hover {
scale: 1.1;
box-shadow: rgba(233, 27, 27, 0.3) 0px 19px 38px, rgba(206, 0, 0, 0.22) 0px 15px 12px;
}

.box-text{
    font-size: 60%;
    text-align: center;
}

.go-btn{
    margin-top: -60px;
    font-size: 60%;
    width: 90%;
    margin-left: 25px;

}

.list-head{
    text-align: center;
}