.profile-module{
  background-color: #e3e7e6;
  width: 100%;
  height: 100%;
}



.profile-container{
  margin-left: 200px;
  padding-top: 40px;
}

.welcome-banner{
  margin-left: 40px;
  font-size: 190%;
}

.sub-title{
  margin-left:  49px;
  font-weight: bold;
  opacity: 0.7;
}

.task-img{
  width: 35%;
  margin-top: -95px;
}

#task-quantity{
  font-weight: bolder;
  font-size: 200%;
}

#task{
  font-size: 120%;
  font-weight: bold;
}

.list-detail-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin-left: 5%;
  margin-top: 80px;
}

.task-graph{
  margin-top: -443px;
  margin-left: 4%;
}

.user-img{
  width: 90px;
  border-radius: 900px;
  margin-left: 80%;
  margin-top: -100px;
}

.calender-section{
  margin-right: 5%;
  margin-top: 600px;
}
