#top-bar{
    width: 100%;
    background-color: #1e1e1e;
    /* background-color: var(--main-background-color); */
   padding: 15px;
   z-index: 0;

}
#bell-icon{
    margin-top: -2.6%;
    margin-left: 85%;
}

#top-item-container{
    font-size: 82%;
    color: var(--main-color);
    margin-left: 90%;
 
}

#top-img-container{
    width: 12%;
    padding-top: 1%;
    margin-right: 6%;
}


