#top-bar{
    width: 100%;
    background-color: #1e1e1e;
    background-color: #e3e7e6;
   padding: 15px;
   z-index: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
#bell-icon{
    margin-top: -2.6%;
    margin-left: 85%;
}

#top-item-container{
    font-size: 82%;
    color: var(--main-color);
    margin-left: 90%;
 
}

#top-img-container{
    width: 12%;
    padding-top: 1%;
    margin-right: 6%;
}


